set gfxmode=auto
insmod efi_gop
insmod efi_uga
insmod gfxterm
terminal_output gfxterm
loadfont /boot/grub/themes/nitrux/dejavu_sans_mono_bold.pf2

set theme=/boot/grub/themes/nitrux/theme.txt

menuentry "Boot Nitrux (Intel)" {
    submenu "Boot Nitrux (Intel VT-d | Intel HD + Nvidia)" {
        set gfxpayload=keep
        linux /boot/kernel boot=casper libahci.ignore_sss=1 nopersistent noprompt quiet splash iommu=pt intel_iommu=on modprobe.blacklist=nvidia,nouveau elevator=noop rcu_nocbs=0-64 rcupdate.rcu_expedited=1 no_timer_check page_alloc.shuffle=1 cryptomgr.notests iso-scan/filename=$iso_path ZNX_OVERLAYS=/etc,/home ZNX_DEV_UUID=$znx_dev_uuid tsc=reliable username=user hostname=host
        initrd /boot/initramfs
    }
    submenu "Boot Nitrux (Intel VT-d | Intel HD + AMD)" {
        set gfxpayload=keep
        linux /boot/kernel boot=casper libahci.ignore_sss=1 nopersistent noprompt quiet splash iommu=pt intel_iommu=on modprobe.blacklist=amdgpu elevator=noop rcu_nocbs=0-64 rcupdate.rcu_expedited=1 no_timer_check page_alloc.shuffle=1 cryptomgr.notests iso-scan/filename=$iso_path  ZNX_OVERLAYS=/etc,/home ZNX_DEV_UUID=$znx_dev_uuid radeon.cik_support=0 amdgpu.cik_support=1 radeon.si_support=0 amdgpu.si_support=1 tsc=reliable username=user hostname=host
        initrd /boot/initramfs
    }
        menuentry "Other (Intel)" {
            submenu "Boot Nitrux (Intel X79 VT-d | AMD GCN_1 + AMD GCN_2+)" {
                set gfxpayload=keep
                linux /boot/kernel boot=casper libahci.ignore_sss=1 nopersistent noprompt quiet splash iommu=pt intel_iommu=on modprobe.blacklist=amdgpu elevator=noop iso-scan/filename=$iso_path ZNX_OVERLAYS=/etc,/home ZNX_DEV_UUID=$znx_dev_uuid radeon.cik_support=1 amdgpu.cik_support=0 radeon.si_support=1 amdgpu.si_support=0 username=user hostname=host
                initrd /boot/initramfs
            }
        }
}

menuentry "Boot Nitrux (AMD)" {
    submenu "Boot Nitrux (AMD-Vi + Nvidia)" {
        set gfxpayload=keep
        linux /boot/kernel boot=casper libahci.ignore_sss=1 nopersistent noprompt quiet splash iommu=pt amd_iommu=on modprobe.blacklist=nvidia,nouveau elevator=noop rcu_nocbs=0-64 rcupdate.rcu_expedited=1 no_timer_check page_alloc.shuffle=1 cryptomgr.notests iso-scan/filename=$iso_path ZNX_OVERLAYS=/etc,/home ZNX_DEV_UUID=$znx_dev_uuid tsc=reliable username=user hostname=host
        initrd /boot/initramfs
    }
    submenu "Boot Nitrux (AMD-Vi + AMD)"{
        set gfxpayload=keep
        linux /boot/kernel boot=casper libahci.ignore_sss=1 nopersistent noprompt quiet splash iommu=pt amd_iommu=on modprobe.blacklist=amdgpu elevator=noop rcu_nocbs=0-64 rcupdate.rcu_expedited=1 no_timer_check page_alloc.shuffle=1 cryptomgr.notests iso-scan/filename=$iso_path ZNX_OVERLAYS=/etc,/home ZNX_DEV_UUID=$znx_dev_uuid radeon.cik_support=0 amdgpu.cik_support=1 radeon.si_support=0 amdgpu.si_support=1 tsc=reliable username=user hostname=host
        initrd /boot/initramfs
    }
}

menuentry "Boot Nitrux in full-debug mode" {
    set gfxpayload=keep
    linux /boot/kernel boot=casper libahci.ignore_sss=1 nopersistent noprompt xforcevesa elevator=noop iso-scan/filename=$iso_path ZNX_OVERLAYS=/etc,/home ZNX_DEV_UUID=$znx_dev_uuid radeon.cik_support=0 amdgpu.cik_support=1 radeon.si_support=0 amdgpu.si_support=1 username=user hostname=host
    initrd /boot/initramfs
}
