set gfxmode=auto
insmod efi_gop
insmod efi_uga
insmod gfxterm
terminal_output gfxterm
loadfont /boot/grub/font.pf2

export theme=/boot/grub/themes/nomad/theme.txt

menuentry "Boot Nitrux (live) system" {
	set gfxpayload=keep
	linux /boot/kernel boot=casper quiet splash elevator=noop iso-scan/filename=$iso_path username=user hostname=host
	initrd /boot/initramfs
}

menuentry "Boot Nitrux (live) in safe graphics mode" {
	set gfxpayload=keep
	linux /boot/kernel boot=casper xforcevesa nomodeset quiet splash elevator=noop iso-scan/filename=$iso_path username=user hostname=host
	initrd /boot/initramfs
}

menuentry "Boot Nitrux (live) in debug mode" {
	set gfxpayload=keep
	linux /boot/kernel boot=casper elevator=noop iso-scan/filename=$iso_path username=user hostname=host
	initrd /boot/initramfs
}
