set gfxmode=auto
insmod efi_gop
insmod efi_uga
insmod gfxterm
terminal_output gfxterm
loadfont /boot/grub/themes/nitrux/dejavu_sans_mono_bold.pf2

set theme=/boot/grub/themes/nitrux/theme.txt

menuentry "Boot Nitrux (Live)" {
    set gfxpayload=keep
    linux /boot/kernel boot=casper username=nitrux hostname=live iso-scan/filename=$iso_path noprompt quiet splash amd_prefcore=enabled amd_pstate=active amdgpu.cik_support=1 amdgpu.ppfeaturemask=0xffffffff amdgpu.si_support=1 amdgpu.vm_update_mode=3 apparmor=1 audit=0 clocksource=tsc fsck.mode=skip hardened_usercopy=1 hpet=disable init_on_free=1 intel_iommu=on intel_pstate=enable kfence=off libahci.ignore_sss=1 lsm=capability,yama,bpf,apparmor,landlock modprobe.blacklist=iTCO_wdt,sp5100_tco_tco nohz=on nosgx nvidia_drm.modeset=1 nvme_core.multipath=Y page_alloc.shuffle=1 pti=on radeon.cik_support=0 radeon.si_support=0 randomize_kstack_offset=1 rcu_nocbs=all rcupdate.rcu_expedited=1 rcutree.enable_rcu_lazy=1 slab_nomerge tsc=nowatchdog tsc=reliable usbcore.autosuspend=-1 vdso32=0 vsyscall=none xhci_hcd.quirks=270336 zswap.compressor=zstd zswap.enabled=1 zswap.max_pool_percent=20 zswap.zpool=zsmalloc
    initrd /boot/initramfs
    init=/usr/sbin/openrc-init
}

menuentry "Boot Nitrux (Live) [Other Boot Options]" {
    submenu "Boot Nitrux (Live) loglevel no-splash mode" {
        set gfxpayload=keep
        linux /boot/kernel boot=casper username=nitrux hostname=live iso-scan/filename=$iso_path loglevel=7 noprompt amd_prefcore=enabled amd_pstate=active amdgpu.cik_support=1 amdgpu.ppfeaturemask=0xffffffff amdgpu.si_support=1 amdgpu.vm_update_mode=3 apparmor=1 audit=0 clocksource=tsc fsck.mode=skip hardened_usercopy=1 hpet=disable init_on_free=1 intel_iommu=on intel_pstate=enable kfence=off libahci.ignore_sss=1 lsm=capability,yama,bpf,apparmor,landlock modprobe.blacklist=iTCO_wdt,sp5100_tco_tco nohz=on nosgx nvidia_drm.modeset=1 nvme_core.multipath=Y page_alloc.shuffle=1 pti=on radeon.cik_support=0 radeon.si_support=0 randomize_kstack_offset=1 rcu_nocbs=all rcupdate.rcu_expedited=1 rcutree.enable_rcu_lazy=1 slab_nomerge tsc=nowatchdog tsc=reliable usbcore.autosuspend=-1 vdso32=0 vsyscall=none xhci_hcd.quirks=270336 zswap.compressor=zstd zswap.enabled=1 zswap.max_pool_percent=20 zswap.zpool=zsmalloc
        initrd /boot/initramfs
        init=/usr/sbin/openrc-init
    }
    submenu "Boot Nitrux (Live) nomodeset console mode" {
        set gfxpayload=keep
        linux /boot/kernel boot=casper username=nitrux hostname=live iso-scan/filename=$iso_path nomodeset noprompt amd_prefcore=enabled amd_pstate=active amdgpu.cik_support=1 amdgpu.ppfeaturemask=0xffffffff amdgpu.si_support=1 amdgpu.vm_update_mode=3 apparmor=1 audit=0 clocksource=tsc fsck.mode=skip hardened_usercopy=1 hpet=disable init_on_free=1 intel_iommu=on intel_pstate=enable kfence=off libahci.ignore_sss=1 lsm=capability,yama,bpf,apparmor,landlock modprobe.blacklist=iTCO_wdt,sp5100_tco_tco nohz=on nosgx nvidia_drm.modeset=1 nvme_core.multipath=Y page_alloc.shuffle=1 pti=on radeon.cik_support=0 radeon.si_support=0 randomize_kstack_offset=1 rcu_nocbs=all rcupdate.rcu_expedited=1 rcutree.enable_rcu_lazy=1 slab_nomerge tsc=nowatchdog tsc=reliable usbcore.autosuspend=-1 vdso32=0 vsyscall=none xhci_hcd.quirks=270336 zswap.compressor=zstd zswap.enabled=1 zswap.max_pool_percent=20 zswap.zpool=zsmalloc
        initrd /boot/initramfs
        init=/usr/sbin/openrc-init
    }
}
