[Desktop Entry]
Name=Station
GenericName=Simple terminal emulator
Comment=Station is a simple and convergent terminal emulator.
Icon=utilities-terminal
Type=Application
Terminal=false
Exec=/usr/bin/station %U -style breeze
TryExec=/usr/bin/station
Categories=Utilities;
Keywords=terminal;emulator;
