[Desktop Entry]
Name=Buho
Comment=Note taking app
TryExec=buho
Exec=buho %U -style breeze
Terminal=false
Type=Application
Categories=Qt;Utilities;KDE;
StartupNotify=true
Icon=buho

GebericName=Note Taker