[Desktop Entry]
Name=Nota
GenericName=Text editor
Comment=Nota is a simple and convergent text editor.
Icon=utilities-text-editor
Type=Application
Terminal=false
Exec=/usr/bin/nota %U -style breeze
TryExec=/usr/bin/nota
Categories=Utilities;
Keywords=text;editor;
