[Desktop Entry]
Type=Application
Name=VMetal — Hardware Virtualization
Exec=pkexec vmetal
Icon=win-launcher
Terminal=false
Categories=Utility;
MimeType=
Comment="Hardware-accelerated Virtual Machines".
