[Desktop Entry]
Name=znx GUI
GenericName=Operating System manager
Comment=Operating System manager.
Icon=znx-gui
Type=Application
Terminal=false
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY znx-gui
TryExec=znx-gui
Categories=Utilities;System;
Keywords=deployer;live;