[Desktop Entry]
Name=znx GUI
GenericName=Operating System manager
Comment=Operating System manager.
Icon=znx-gui
Type=Application
Terminal=false
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY deploy-nitrux-image
TryExec=deploy-nitrux-image
Categories=Utilities;System;
Keywords=deployer;live;
