[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-iso9660-appimage;application/x-executable;
Actions=AppImageExecutable;AppImageUpdate;

[Desktop Action AppImageUpdate]
TryExec=appimageupdate
Exec=konsole -e --background-mode appimageupdate %f
Icon=utilities-terminal

Name=Update AppImage
Comment=Update the AppImage using AppImageUpdate