[Desktop Entry]
Type=Application
Name=appimaged
Exec=$HOME/.local/bin/appimaged
Comment=Optional daemon to integrate AppImages
Icon=appimaged
Categories=Development;
Terminal=false
NoDisplay=true