[Desktop Entry]
Type=Application
Name=Liquid Desktop Workspace
Exec=liquidshell -stylesheet /usr/share/liquidshell/style/stylesheet-dark.qss
Icon=start-here
Comment=

