[Desktop Entry]
Name=Index
Comment=File manager
TryExec=index
Exec=index %U -style maui-style
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
StartupNotify=true
Icon=system-file-manager
MimeType=inode/directory;
