[Desktop Entry]
Exec=kinfocenter
Icon=hwinfo
Type=Application
X-DocPath=kinfocenter/index.html
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
NoDisplay=true

Name=Info Center
Name[ar]=مركز المعلومات
Name[ca]=Centre d'informació
Name[ca@valencia]=Centre d'informació
Name[cs]=Informační centrum
Name[da]=Infocenter
Name[de]=Infozentrum
Name[el]=Κέντρο πληροφοριών
Name[en_GB]=Info Centre
Name[es]=Centro de información
Name[et]=Infokeskus
Name[eu]=Info-gunea
Name[fi]=Tietokeskus
Name[fr]=Centre d'informations
Name[gl]=Centro de información
Name[he]=מרכז המידע
Name[hu]=Rendszerinformáció
Name[ia]=Centro de Info
Name[id]=Info Center
Name[it]=Centro delle informazioni
Name[ko]=정보 센터
Name[lt]=Informacinis centras
Name[nl]=Informatiecentrum
Name[nn]=Informasjonssenter
Name[pl]=Ośrodek informacji
Name[pt]=Centro de Informações
Name[pt_BR]=Centro de Informações
Name[ru]=Информация о системе
Name[sk]=Informačné centrum
Name[sl]=Podatkovno središče
Name[sr]=Инфоцентар
Name[sr@ijekavian]=Инфоцентар
Name[sr@ijekavianlatin]=Infocentar
Name[sr@latin]=Infocentar
Name[sv]=Informationscentral
Name[tg]=Маркази иттилоотӣ
Name[tr]=Bilgi Merkezi
Name[uk]=Центр інформації
Name[x-test]=xxInfo Centerxx
Name[zh_CN]=信息中心
Name[zh_TW]=資訊中心
GenericName=Info Center
GenericName[af]=Inligting Sentrum
GenericName[ar]=مركز المعلومات
GenericName[as]=তথ্য কেন্দ্ৰ
GenericName[be]=Цэнтр інфармацыі
GenericName[be@latin]=Infarmacyjny centar
GenericName[bg]=Информационен център
GenericName[bn]=তথ্য কেন্দ্র
GenericName[bn_IN]=তথ্য কেন্দ্র
GenericName[br]=Kreizenn Titouroù
GenericName[bs]=Informacioni centar
GenericName[ca]=Centre d'informació
GenericName[ca@valencia]=Centre d'informació
GenericName[cs]=Informační centrum
GenericName[csb]=Centróm wëdowiédzë
GenericName[cy]=Canolfan Gwybodaeth
GenericName[da]=Infocenter
GenericName[de]=Infozentrum
GenericName[el]=Κέντρο πληροφοριών
GenericName[en_GB]=Info Centre
GenericName[eo]=Informocentro
GenericName[es]=Centro de información
GenericName[et]=Infokeskus
GenericName[eu]=Informazio-gunea
GenericName[fa]=مرکز اطلاعات
GenericName[fi]=Tietokeskus
GenericName[fr]=Centre d'informations
GenericName[fy]=Ynformaasjesintrum
GenericName[ga]=Lárionad Eolais
GenericName[gl]=Centro de información
GenericName[gu]=માહિતી કેન્દ્ર
GenericName[he]=מרכז המידע
GenericName[hi]=जानकारी केंद्र
GenericName[hne]=जानकारी केंद्र
GenericName[hr]=Info središte
GenericName[hsb]=Centralna informacija
GenericName[hu]=Rendszerinformáció
GenericName[ia]=Centro de Info
GenericName[id]=Pusat Info
GenericName[is]=Upplýsingaborð
GenericName[it]=Centro delle informazioni
GenericName[ja]=システム情報センター
GenericName[ka]=საინფორმაციო ცენტრი
GenericName[kk]=Мәлімет орталығы
GenericName[km]=មជ្ឈមណ្ឌល​ព័ត៌មាន
GenericName[kn]=ಮಾಹಿತಿ ಕೇಂದ್ರ
GenericName[ko]=정보 센터
GenericName[ku]=Navenda Agahiyan
GenericName[lt]=Informacinis centras
GenericName[lv]=Informācijas centrs
GenericName[mai]=सूचना केंद्र
GenericName[mk]=Информативен центар
GenericName[ml]=വിവരകേന്ദ്രം
GenericName[mr]=माहिती केंद्र
GenericName[ms]=Pusat Maklumat
GenericName[nb]=KDEs informasjonssenter
GenericName[nds]=Infozentrum
GenericName[ne]=सूचना केन्द्र
GenericName[nl]=Informatiecentrum
GenericName[nn]=Informasjonssenter
GenericName[or]=ସୂଚନା କେନ୍ଦ୍ର
GenericName[pa]=ਜਾਣਕਾਰੀ ਸੈਂਟਰ
GenericName[pl]=Ośrodek informacji
GenericName[pt]=Centro de Informações
GenericName[pt_BR]=Centro de Informações
GenericName[ro]=Centru de informații
GenericName[ru]=Информация о системе
GenericName[se]=Diehtoguovddáš
GenericName[si]=තොරතුරු මධ්‍යස්ථානය
GenericName[sk]=Informačné centrum
GenericName[sl]=Podatkovno središče
GenericName[sr]=Информациони центар
GenericName[sr@ijekavian]=Информациони центар
GenericName[sr@ijekavianlatin]=Informacioni centar
GenericName[sr@latin]=Informacioni centar
GenericName[sv]=Informationscentralen
GenericName[ta]=தகவல் மையம்
GenericName[te]=సమాచార కేంద్రం
GenericName[tg]=Маркази иттилоотӣ
GenericName[th]=ศูนย์ข้อมูล
GenericName[tr]=Bilgi Merkezi
GenericName[ug]=ئۇچۇر مەركىزى
GenericName[uk]=Центр інформації
GenericName[uz]=Maʼlumot markazi
GenericName[uz@cyrillic]=Маълумот маркази
GenericName[vi]=Trung tâm Thông tin
GenericName[wa]=Cinte d' informåcions di KDE
GenericName[x-test]=xxInfo Centerxx
GenericName[zh_CN]=信息中心
GenericName[zh_TW]=資訊中心
Comment=Centralized and convenient overview of system information
Comment[ca]=Resum centralitzat i pràctic de la informació del sistema
Comment[ca@valencia]=Resum centralitzat i pràctic de la informació del sistema
Comment[da]=Centraliseret og bekvem oversigt over systeminformation
Comment[de]=Zentrale Übersicht über Systeminformationen
Comment[el]=Συγκεντρωτική και βολική σύνοψη των πληροφοριών συστήματος
Comment[en_GB]=Centralised and convenient overview of system information
Comment[es]=Resumen centralizado y práctico de información sobre el sistema
Comment[et]=Mugav tsentraliseeritud süsteemi teabe ülevaade
Comment[eu]=Sistemaren informazioaren bilgune eta ikuspegi praktikoa
Comment[fi]=Keskitetty ja mukava yleisnäkymä järjestelmätietoihin
Comment[fr]=Aperçu centralisé et pratique des informations système
Comment[gl]=Resumo centralizado e cómodo de información do sistema.
Comment[hu]=A rendszerjellemzők központosított és kényelmes áttekintése
Comment[id]=Ikhtisar informasi sistem yang terpusat dan serasi
Comment[it]=Riepilogo centralizzato e comodo delle informazioni di sistema
Comment[ko]=시스템 정보를 한 눈에 보기
Comment[lt]=Centralizuota ir patogi sistemos informacijos apžvalga
Comment[nl]=Gecentraliseerd en prettig overzicht van systeeminformatie
Comment[nn]=Sentralisert og praktisk oversikt over systeminformasjon
Comment[pl]=Przegląd danych o systemie
Comment[pt]=Visão geral centralizada e conveniente da informação do sistema
Comment[pt_BR]=Resumo centralizado e conveniente das informações do sistema
Comment[ru]=Централизованный и удобный просмотр информации о системе
Comment[sk]=Centralizovaný a pohodlný prehľad systémových informácií
Comment[sl]=Priročen pregled številnih podatkov o sistemu
Comment[sr]=Централизован и удобан преглед системских података
Comment[sr@ijekavian]=Централизован и удобан преглед системских података
Comment[sr@ijekavianlatin]=Centralizovan i udoban pregled sistemskih podataka
Comment[sr@latin]=Centralizovan i udoban pregled sistemskih podataka
Comment[sv]=Centraliserad och bekväm översikt av systeminformation
Comment[tr]=Sistem bilgisinin merkezi ve uygun özeti
Comment[uk]=Централізований та зручний огляд усіх даних щодо системи
Comment[x-test]=xxCentralized and convenient overview of system informationxx
Comment[zh_CN]=中心化和方便的系统信息展示
Comment[zh_TW]=集中且方便的系統資訊總覽
X-DBUS-ServiceName=org.kde.kinfocenter
X-DBUS-StartupType=Unique
Categories=Qt;KDE;System;