[Desktop Entry]
Exec=liquidshell -stylesheet /usr/share/liquidshell/style/stylesheet-dark.qss
TryExec=liquidshell -stylesheet /usr/share/liquidshell/style/stylesheet-dark.qss
X-DBUS-StartupType=Unique
Name=Liquid Desktop Workspace
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
NoDisplay=true
Hidden=false
