[Desktop Entry]
Name=Station
Name[x-test]=xxStationxx
Comment=Maui terminal emulator
Comment[x-test]=xxMaui terminal emulatorxx
TryExec=station
Exec=station %U -style maui-style
Terminal=false
Type=Application
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
Icon=utilities-terminal
# Generic name with translations
GenericName=Terminal Emulator
