[Desktop Entry]
Name=Contacts
Name[x-test]=xxContactsxx
Comment=Maui contacts application
Comment[x-test]=xxMaui contacts applicationxx
TryExec=contacts
Exec=contacts %U -style maui-style
Terminal=false
Type=Application
Categories=Qt;KDE;System;Phone;
StartupNotify=true
Icon=maui-dialer
# Generic name with translations
GenericName=Contacts Application
