[Desktop Entry]
Name=Pix
Comment=Image gallery viewer
TryExec=pix
Exec=pix %U -style maui-style
Terminal=false
Type=Application
Categories=Qt;Graphics;Viewer;KDE;
StartupNotify=true
Icon=maui-pix
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;
# Generic name with translations
GenericName=Image Gallery
