[Desktop Entry]
Name=Nota
GenericName=Text editor
Comment=Nota is a simple and convergent text editor.
Icon=maui-nota
Type=Application
Terminal=false
Exec=nota %U -style maui-style
TryExec=nota
Categories=Utilities;
Keywords=text;editor;
