# SPDX-License-Identifier: BSD-3-Clause
# Copyright 2026 <Nitrux Latinoamericana S.C. <hello@nxos.org>>

set default=0
set timeout=100

set gfxmode=auto
export gfxmode

insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png

terminal_output gfxterm

loadfont /boot/grub/themes/nitrux/terminus-12.pf2
loadfont /boot/grub/themes/nitrux/terminus-14.pf2
loadfont /boot/grub/themes/nitrux/terminus-16.pf2
loadfont /boot/grub/themes/nitrux/terminus-18.pf2

set theme=/boot/grub/themes/nitrux/theme.txt
export theme

menuentry "Boot Nitrux (Live) [Default]" {
    set gfxpayload=keep
    linux /boot/kernel \
        boot=casper username=nitrux hostname=live iso-scan/filename=$iso_path noprompt quiet splash \
        amd_prefcore=enabled amd_pstate=active \
        amdgpu.cik_support=1 amdgpu.ppfeaturemask=0xffffffff amdgpu.si_support=1 amdgpu.vm_update_mode=3 \
        radeon.cik_support=0 radeon.si_support=0 \
        intel_iommu=on intel_pstate=enable \
        nvidia_drm.modeset=1 nvme_core.multipath=Y nvme_core.default_ps_max_latency_us=0 xhci_hcd.quirks=270336 libahci.ignore_sss=1 \
        apparmor=1 audit=0 lsm=capability,yama,bpf,apparmor,landlock \
        hardened_usercopy=1 init_on_free=1 pti=on randomize_kstack_offset=1 slab_nomerge nosgx \
        rcu_nocbs=all rcupdate.rcu_expedited=1 \
        usbcore.autosuspend=-1 vdso32=0 vsyscall=none \
        zswap.compressor=zstd zswap.enabled=1 zswap.max_pool_percent=20 zswap.zpool=zsmalloc \
        page_alloc.shuffle=1 fsck.mode=skip kfence=off \
        modprobe.blacklist=iTCO_wdt,sp5100_tco_tco \
        vt.global_cursor_default=0 \
        init=/usr/sbin/openrc-init
    initrd /boot/initramfs
}

submenu "Boot Nitrux (Live) [Other Boot Options]" {

    menuentry "Boot Nitrux (Intel Xe mode)" {
        set gfxpayload=keep
        linux /boot/kernel \
            boot=casper username=nitrux hostname=live iso-scan/filename=$iso_path noprompt quiet splash \
            amd_prefcore=enabled amd_pstate=active \
            amdgpu.cik_support=1 amdgpu.ppfeaturemask=0xffffffff amdgpu.si_support=1 amdgpu.vm_update_mode=3 \
            radeon.cik_support=0 radeon.si_support=0 \
            intel_iommu=on intel_pstate=enable i915.force_probe=!* xe.force_probe=* \
            nvidia_drm.modeset=1 nvme_core.multipath=Y nvme_core.default_ps_max_latency_us=0 xhci_hcd.quirks=270336 libahci.ignore_sss=1 \
            apparmor=1 audit=0 lsm=capability,yama,bpf,apparmor,landlock \
            hardened_usercopy=1 init_on_free=1 pti=on randomize_kstack_offset=1 slab_nomerge nosgx \
            rcu_nocbs=all rcupdate.rcu_expedited=1 \
            usbcore.autosuspend=-1 vdso32=0 vsyscall=none \
            zswap.compressor=zstd zswap.enabled=1 zswap.max_pool_percent=20 zswap.zpool=zsmalloc \
            page_alloc.shuffle=1 fsck.mode=skip kfence=off \
            modprobe.blacklist=iTCO_wdt,sp5100_tco_tco \
            vt.global_cursor_default=0 \
            init=/usr/sbin/openrc-init
        initrd /boot/initramfs
    }
}
